<h2>Board {{model.name}}</h2>

{{player-display model=model.playerBlack selectPiece="selectPiece"}}

{{spots-display spots=model.spots selectPiece="selectPiece" selectSpot="selectSpot"}}

{{player-display model=model.playerWhite selectPiece="selectPiece"}}
