<p>
  Player {{#if model.isWhite}}white{{else}}black{{/if}} ///

  <small>pieces to drop:</small>

  {{#each spotlessPieces as |piece|}}
    {{piece-display model=piece}}
  {{else}}
    ...
  {{/each}}
</p>
