<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">BUGSPORT PROTOTYPE</a>
    <p class="pure-menu-heading" style="float: right; font-size: 70%;">Logged in as {{session.user.id}}</p>    
  </div>
</div>

{{outlet}}
